<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.faanggang.wisetrack">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WiseTrack">

        <activity android:name=".comment.ViewAllResponseActivity"></activity>
        <activity android:name=".publish.PublishExperiment4_Complete" />
        <activity android:name=".publish.PublishExperiment3_Geolocation" />
        <activity android:name=".publish.PublishExperiment2_TrialType" />
        <activity android:name=".publish.PublishExperiment1_Initialization" />

        <activity android:name=".search.SearchActivity" />
        <activity android:name=".MainMenuActivity" />
        <activity
            android:name=".user.ViewSelfActivity"
            android:parentActivityName=".MainMenuActivity" />
        <activity
            android:name=".user.EditProfileActivity"
            android:parentActivityName=".user.ViewSelfActivity" />
        <activity android:name=".experiment.MyExperimentActivity" />
        <activity android:name=".experiment.ViewExperimentActivity" />

        <activity android:name=".comment.ViewAllCommentActivity" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>