<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.faanggang.wisetrack">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WiseTrack">
        <activity android:name=".view.trial.ExecuteMeasurementActivity"></activity>
        <activity android:name=".view.trial.ExecuteBinomialActivity" />
        <activity android:name=".view.trial.ExecuteCountActivity" />
        <activity android:name=".view.comment.ViewAllResponseActivity" />
        <activity android:name=".view.publish.PublishExperiment4_Complete" />
        <activity android:name=".view.publish.PublishExperiment3_Geolocation" />
        <activity android:name=".view.publish.PublishExperiment2_TrialType" />
        <activity android:name=".view.publish.PublishExperiment1_Initialization" />
        <activity android:name=".view.search.SearchActivity" />
        <activity android:name=".view.MainMenuActivity" />
        <activity android:name=".view.stats.ViewExperimentResultsActivity"/>
        <activity android:name=".view.stats.StatReportActivity"/>
        <activity android:name=".view.stats.StatPlotActivity"/>
        <activity android:name=".view.stats.StatHistogramActivity"/>
        <activity android:name=".view.user.ViewOtherActivity"/>
        <activity
            android:name=".view.user.ViewSelfActivity"
            android:parentActivityName=".view.MainMenuActivity" />
        <activity
            android:name=".view.user.EditProfileActivity"
            android:parentActivityName=".view.user.ViewSelfActivity" />
        <activity android:name=".view.user.UserNameCreationActivity" />
        <activity android:name=".view.experiment.MyExperimentActivity" />
        <activity android:name=".view.experiment.ViewExperimentActivity" />
        <activity android:name=".view.comment.ViewAllCommentActivity" />
        <activity android:name=".view.experiment.MySubscriptionActivity" />

        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
